

.title1 {
    text-align: center;
    font-size: 45px;
    line-height: 45px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.container1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 510px;
}

.btn2 {
    border: 2px solid #979797;
    border-radius: 10px;
    box-sizing: border-box;
    width: 120px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    line-height: 30px;
}

.btn3 {
    background: linear-gradient(90deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    width: 204px;
    height: 51px;
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 30px;
    color: #FFFFFF;
}


p {
    width: 492px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    font-family: Lato;
    margin:auto;
    margin-top: 10px;
}

.input {
    display: flex;

    border: 2px solid #979797;
    box-sizing: border-box;
    border-radius: 10px;
    width: 510px;
    height: 52px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 30px;
}

.label {
    align-self: flex-start;
    font-family: Lato;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
}

.container1 > span {
    
    background: linear-gradient(90deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}