.phone {
    box-sizing: border-box;
    border-radius: 10px;
    width: 510px;
    height: 52px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 30px;
    border: 2px solid #979797;
}

